.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}
.navItem >ul{
    display: flex;
    list-style: none;
    /* remove those dots infront of lists */

    font-size: 24px;
}
.navItem>ul>li {
    padding: 10px;
    margin: 10px;

}

.body{
    border: 1px solid black;
}

.filter{
    padding: 10px;
    cursor: pointer;
    margin: 5px;
}

.res-card{
    border: 1px solid blue;
    width: 250px;
    height: 400px;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;


}

.res-card:hover{
    border: 2px solid blue;
    cursor: pointer;
}
.res-img{
    width: 100%;
    height: 200px; /* Set the desired height */
    object-fit: cover; /* Crop the image while maintaining aspect ratio */
    object-position: center center;
    
}

.restro-card{
    display: flex;
    flex-wrap: wrap;

}
